body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display: flex;
    border-width: 30px;
    border-style: solid;
    border-radius:30px;
    border-color:rgb(167, 120, 120);
    width: 600px;
    height: 600px;
}


.columnDiv {
    border-style: solid;
    border-width: 1px 0px;
    border-color: rgb(150, 150, 150);
    flex-grow: 1;
}

.rowDiv {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(150, 150, 150);
    border-width: 0px 1px;
    flex-grow: 1;
}
